/* INÍCIO RESET CSS */
*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* FIM RESET CSS */

/* INÍCIO TELA UM */
    #div-telaum
    {
        background-image: linear-gradient(#fff, #949090);
        width: 330px;
    }
    #div-telaum > div
    {
        margin: 20px 10px;
    }
    /* INÍCIO TITULO */
    /* #div-titulo
    {
        margin: 20px 10px;
    } */
    #txt-titulo
    {
        padding: 2px;
    }
    #txt-subtitulo
    {
        padding: 2px;
        color: gray;
        /* font-weight: bold; */
    }
    /* FIM TITULO */

    /* INÍCIO DESCRIÇÃO */
    /* #div-descricao
    {
        margin: 20px 10px;
    } */
    #txt-descricao
    {
        color: black;
        font-weight: bold;
        width: 330px;
    }
    /* FIM DESCRIÇÃO */

    /* INÍCIO BOTÃO */
    /* #div-botao
    {
        margin: 20px 10px;
    } */
    #btn-botao
    {
        padding: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: green;
    }
    /* FIM BOTÃO */
/* FIM TELA UM */

/* INÍCIO IMAGENS */
.quadrado
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid;
    border-color: red;
    width: 400px;
    height: 400px;
}
.quadrado div
{
    margin-top: auto;
    margin-bottom: auto;
}
.imagem_gato
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* FIM IMAGENS */
